h1.page-title Список сортов
div.help-block.help-block_offset_bottom_n Отметьте интересующие Вас сорта. Выбрано ({{($resolve.tabs | filter:{checked:true}).length}}/{{$resolve.tabs.length}})
at-tabs-list.tab-list(tabs="$resolve.tabs")