.checkbox-block
  display inline-block
  padding 16px
  padding-left 32px
  border 1px solid $clr-grey-300
  border-radius 4px
  &.checkbox-block_checked
    background-color $clr-indigo-800
    color $clr-white
  .checkbox-block__checkbox
    margin-left -22px;
    margin-right 8px
  .checkbox-block__label
    font-size 14px
