@import "~variables"
.tab-list
  display block
  margin 0 -4px
  &:after{
    content ""
    display block
    width 100%
    clear both
  }
  .checkbox-block
    float left
    margin 0 4px
    margin-bottom 8px
