@import "variables";
@import "navbar/navbar";
@import "footer/footer";
@import "checkbox-block/checkbox-block";
@import "help-block/help-block";

html,body
  min-height 100%
html
  height 100%

body,body *
  &, &:after, &:before
    box-sizing border-box

.main-content{
  min-width 320px
  padding 0 32px
  margin auto
}